<section id="home-page">
  <header class="picture">
    <div class="cover">
      <a href="#" class="login">
        <i class="fa fa-user" aria-hidden="true"></i>Login
      </a>
      <h1>Your politicians are <div class="what-doing js-what-doing"></div></h1>
      <a href="#more-info" class="go-down"><%= image_tag 'arrow-down' %></a>
    </div>
  </header>
  <section id="more-info" class="content">
    <div class="container">
      <article class="info">
        <div class="icon left"><%= image_tag('access') %></div>
        <div class="description first">
          <h2>Stay tuned</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie volutpat purus, eget faucibus dolor bibendum sed. Sed enim ipsum, egestas vel posuere pretium, sagittis at enim. Praesent fringilla nunc mauris. Proin lorem ex, venenatis eget lacus id, elementum volutpat lacus. Nullam eu posuere felis. Aliquam a mauris suscipit, dapibus neque in, ultrices erat. Vivamus suscipit varius magna, quis porta odio ultrices ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat.</p>
        </div>
      </article>
      <article class="info">
        <div class="description">
          <h2>Give your opinion</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie volutpat purus, eget faucibus dolor bibendum sed. Sed enim ipsum, egestas vel posuere pretium, sagittis at enim. Praesent fringilla nunc mauris. Proin lorem ex, venenatis eget lacus id, elementum volutpat lacus. Nullam eu posuere felis. Aliquam a mauris suscipit, dapibus neque in, ultrices erat. Vivamus suscipit varius magna, quis porta odio ultrices ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat.</p>
        </div>
        <div class="icon right"><%= image_tag('opinion') %></div>
      </article>
      <div class="clearfix"></div>
      <div class="button-container">
        <a class="button">Sign Up</a>
      </div>
    </div>
  </section>
  <!-- <section class="content bottom-section">
    <div class="container">
      <h2>Cities we are working on</h2>
      <div class="col-sm-4">Col1</div>
      <div class="col-sm-4 middle">Col2</div>
      <div class="col-sm-4">Col3</div>
      <div class="clearfix"></div>
    </div>
  </section> -->
</section>