<footer>
  <section class="footer-container">
    <div>
      <h3>Issues</h3>
      <p>Complexity and opacity make political institutions and agents less susceptible to any societal pressure. Issues help governments scrutable and transparent and pressure becomes productive.</p>
    </div>
    <div>
      <ul class="website-links">
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">We are hiring!</a></li>
      </ul>
    </div>
    <div>
      <ul class="social-media">
        <p>Follow us in</p>
        <li><span class="fa fa-twitter fa-2x"></span></li>
        <li><span class="fa fa-facebook fa-2x"></span></li>
        <li><span class="fa fa-linkedin fa-2x"></span></li>
        <li><span class="fa fa-github fa-2x"></span></li>
      </ul>
    </div>
  </section>
</footer>
