<header class="main-header">
  <div class="header-container">
    <a href="/" class="logo"><p ><span class=" fa fa-check-circle"></span> Issues</p></a>
    <span class="user">USER</span>
  </div>

</header>
