<header class="main-header">
  <div class="header-container">
    <a href="/" class="logo"><p ><span class=" fa fa-check-circle"></span> Issues</p></a>
    <div class="login">
      <i class="fa fa-user" aria-hidden="true"></i><%= current_user.email %>
    </div>
  </div>

</header>
