<style type="text/css">
  .initiative {
    margin: 40px auto;
    max-width: 900px;
    width: 100%;
  }

  .initiative h2 {
    font-size: 30px;
  }

  .initiative .content {
    border: 1px solid #eee;
    padding: 20px 10px;
  }

  .priority-tabs .high,
  .priority-tabs .medium,
  .priority-tabs .low {
    border: 1px solid #eee;
    border-top: 0;
    color: #aaa;
    float: left;
    padding: 6px 20px;
  }

  .priority-tabs .high {
    border-bottom-left-radius: 6px;
  }

  .priority-tabs .medium {
    border-left: 0;
    border-right: 0;
  }

  .priority-tabs .low {
    border-bottom-right-radius: 6px;
  }

  .priority-tabs .high.active,
  .priority-tabs .medium.active,
  .priority-tabs .low.active {
    color: #fff;
  }

  .priority-tabs .high.active {
    background: linear-gradient(45deg, #ff403c, #FF8F00);
  }

  .priority-tabs .medium.active {
    background: linear-gradient(45deg, #FF8F00, #fc0);
  }

  .priority-tabs .low.active {
    background: linear-gradient(45deg, #00CC3C, #00963C);
  }
</style>

<section class="initiative">
  <article>
    <h2><%= @initiative.title %></h2>
    <%= image_tag(@initiative.image.url) if @initiative.has_image? %>
    
    <div class="content"><%= @initiative.content %></div>
    <div class="priority-tabs">
      <div data-id="1" class="high active">High</div>
      <div data-id="2" class="medium active">Medium</div>
      <div data-id="3" class="low active">Low</div>
      <div class="clearfix"></div>
    </div>
  </article>
</section>